.normal-login, .register-login{
    width: 200px;

}
.app-background{
    background: linear-gradient(190deg, rgba(0,75,212,1) 0%, rgba(121,9,105,1) 51%, rgba(0,212,255,1) 100%);
}
.app-background-login{
    height: 500px;
}
.ant-col{
    font-size: 1.25rem;
}